<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4ca93e8f1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles/styleHome.css" />
    <title>Seal me the weather</title>
</head>
<body>
    <header>
        <h1>Seal me the weather</h1>
        <img id= "logo" src= "/images/seal_logo.png" alt= "logo seal weather" />
    </header>
    <div id= "container">
        <div id= "subscription">
            <div id= "head">
                <h2>New seal ?</h2>
                <img id= "img" src= "/images/seal1.jpg" alt= "seal cute" />
            </div>
            <form action= "/signup" method= "post">
                <input class= "input_form" 
                type= "text" 
                name= "username" 
                placeholder= "Username" 
                required>
                <input class= "input_form" 
                type= "email" 
                name= "email" 
                placeholder= "Email" 
                autocomplete= "email" 
                required>
                <input class= "input_form" 
                type= "text"
                name= "password" 
                placeholder= "Choose a password" 
                required>
                <input class= "input_form" 
                type= "text" 
                name= "location" 
                placeholder= "City location">
                <button>Submit</button>
            </form>
        </div>
        <div id= "login">
            <div id= "head">
                <h2>Welcome Back !</h2>
                <img id= "img" src= "/images/seal2.jpg" alt= "seal cute sea" />
            </div>
            <form action= "/signin" method= "post">
                <input class= "input_form" 
                type= "email" 
                name= "email" 
                placeholder= "Email" 
                autocomplete= "email" 
                required>
                <input class= "input_form" 
                type= "password"  
                name= "paswword" 
                placeholder= "Password" 
                required>
                <button>Submit</button>
            </form>
        </div>
    </div>   
    <footer>
        <p>Coded by Mandy Thorel</p>
    </footer>
</body>
</html>