body {
    background-color: #0DB3CF;
    font-family: "Quicksand", sans-serif;
    width: 65em;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7em;
    text-align: center;
}

h1 {
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 4em;
    letter-spacing: 0.05em;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2em;
    letter-spacing: 0.1em;
}

/*        NAVBAR        */
nav {
    background-color: #ffe69b;
    font-weight: 550;
    height: fit-content;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 8px 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #0DB3CF;
    transition: .5s;
}
nav a:hover {
    color: black;
}
nav a:active {
    font-style: italic;
    color: black;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 0.5em;
}

#city {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#form {
    display: inline;
    padding: 10px;
}

#city_selected {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    margin: 0 0.1em;
    color: white;
}

#city_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("/sources/paris.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 0.2em 1.2em;
}
#name_of_the_city {
    display: flex;
    align-items: center;
}
#time {
   font-size: 1.5em; 
   text-align: right;
}

#week_weather {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.098);
}

#sunset_hours {
    display: flex;
}

#cities {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.098);
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#bar {
    background-color: #0DB3CF;
    height: 0.1em;
}

/*        IMAGES        */
#logo {
    width: 10em;
    height: auto;
}
